

{% if logged_in %}
{% if page.header %}
<header class="header">
    {{ page.header }}
</header>
{% endif %}
<div class="container">
    {{ page.content }}
 </div>

{% else %}
{{ attach_library('edu/pagepilling-base') }}
<div class="page-wrapper" id="pagepiling">
{% if page.header %}
<header>
    {{ page.header }}
</header>
{% endif %}

    {{ page.content }}


</div>

{% endif %}